@model IEnumerable<ProjectFirst.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermanentAddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporaryAddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefferClientCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporaryAddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefferClientCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
