@model ProjectFirst.Models.DeliveryInformation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliverymansID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliverymansID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryInformationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
