@model IEnumerable<ProjectFirst.Models.SupplierAttribute>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppiler.SuppliersID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.suppilerAttributeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.suppilerAttributeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.suppilerAttributeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
